<header class="header">
  <button class="header__menu" (click)="toggle()">
    <span class="material-symbols-outlined"> menu </span>
  </button>
  <a [routerLink]="links[0].ruta">
    <img src="../../../assets/logo.png" alt="logo" class="header__img" />
  </a>
  <a
    href="https://www.hbomax.com/co/es/series/urn:hbo:series:GXkRjxwjR68PDwwEAABKJ"
    target="_blank"
    class="header__serie"
  >
    <img
      src="../../../assets/partnes/hbo.png"
      loading="lazy"
      alt=""
      class="serie__img"
    />
  </a>
</header>

<aside class="aside" [ngClass]="{ visible: asideActive }">
  <div class="aside__button">
    <picture class="aside__picture">
      <img
        src="../../../assets/logo2.png"
        loading="lazy"
        alt="logo"
        class="aside__img"
      />
    </picture>
    <h1>Welcome Bienvenido</h1>
    <button class="aside__close" (click)="toggle()">
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>
  <ul class="aside__ul">
    <hr />
    <div
      class="aside__item"
      *ngFor="let link of links"
      [routerLink]="[link.ruta]"
    >
      <span class="material-symbols-outlined"> {{ link.icono }} </span>
      <li>{{ link.nombre }}</li>
    </div>
  </ul>
  <hr />
  <div class="change__theme">
    <p>Cambiar tema</p>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>
</aside>
