<section class="bio">
  <picture class="bio__picture">
    <img [src]="character.image" [alt]="character.name" class="bio__img" />
  </picture>
  <article class="bio__card">
    <div class="bio__contain">
      <h1 class="bio__title">{{ character.name }}</h1>
      <div class="bio__data">
        <strong> Genero: </strong>
        <span>
          {{ character.gender }}
        </span>
      </div>
      <div class="bio__data">
        <strong> Especie: </strong>
        <span>
          {{ character.species }}
        </span>
      </div>
      <!-- LOCACIONES -->
      <div class="bio__data bio__data--link">
        <strong> Origen: </strong>
        <span>
          {{ character.origin.name }}
        </span>
      </div>
      <div class="bio__data bio__data--link">
        <strong> Ubicación: </strong>
        <span>
          {{ character.location.name }}
        </span>
      </div>
    </div>
    <button class="bio__episodios" (click)="verEpisodios()" > Ver Episodios</button>
  </article>
</section>
