.filter {
  width: 90%;
  margin: 30px auto 40px;
}

.filter__child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 50%;
  margin: 0 auto;
}

.filter__title {
  text-align: center;
  font-size: 900;
  font-size: 3em;
  color: var(--background);
}

.filter__opt {
  flex: 1 1 auto;
  position: relative;
}

.group {
  display: flex;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 25px auto;
  flex: 1 1 auto;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(104, 193, 26, 0.58);
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

//* FILTER


.filter__popup {
  background-color: #f3f3f4;
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.3);
  width: 150px;
  height: 126px;
  border-radius: 0 8px 8px;
  position: absolute;
  top: 42px;
  left: 20%;
  padding: 25px;
  z-index: 2;
}

.filter__popup--visible {
  display: none;
}

.filter__list {
  list-style: none;
}

.filter__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  label {
    font-size: 0.8rem;
  }
}


.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #9e9ea7;
  border-radius: 8px;
  padding: 7px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: #f3f3f4;
  transition: 0.3s ease;
}

.filter__button:hover {
  border-color: rgba(104, 193, 26, 0.58);
  color: #0d0c22;
  background-color: #fff;
}

//* CARDS
.cards {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 23px;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: auto;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #40b5cb;
  border-radius: 1rem;
}

.flip-card-front {
  background: #40b5cb;
  color: #40b5cb;
  overflow: hidden;

  .flip-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flip-card-back {
  background: var(--background);
  color: white;
  transform: rotateY(180deg);
}
